---
const { title, img } = Astro.props;
---

<div class="flex  gap-3 group  ">
    <div class="w-2 h-2 rounded-full p-1 mt-2 bg-white  duration-500">
    </div>
    <div class="text-lg">
        {title}
    </div>
</div>
